@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font: Poppins, Arial;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
}

h1 {
    flex: auto;
    font-size: 200%;
    text-decoration: underline;
    padding: 20px;
    text-align: center;
}

.results {
    font-size: x-large;
    text-align: center;
    justify-content: center;
}

.container {
    width: 75%;
    flex: auto;
    margin-left: auto;
    margin-right: auto;
}
button {
    max width: 400px;

}
.col-12 {
    width: 100%;
    text-align: center;
    display: inline;
    flex-wrap: wrap;
}

.col-51 {
    width: 100%;
    text-align: center;
    display: inline;
    justify-content: center;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    max-width: 400px;
}

.reset-switch {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

@media (min-width: 600px) {
    .btn {
        display: flex;
    }
}