@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}


h1 {
    font-size: 500%;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
}

.results {
    font-size: x-large;
    text-align: center;
    padding: 50px 0px;
    margin: 20px auto;
}

.container {
    margin: auto;
    display: inline-flex;
    padding: 50x;
    justify-content: center;
}

#rock-button {
    float: left;
    margin: auto;
}

#paper-button {
    margin: auto;
}

#scissors-button {
    float: right;
}



.col-51 {
    width: 100%;
    text-align: center;
    display: inline;
    justify-content: center;
}

.btn img {
    border: 1rem;
    background: transparent;
    cursor: pointer;
    width: 300px;
    margin: auto;
}

.reset-switch {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

