@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font: Poppins, Arial;
    font-weight: 300;
    
}

h1 {
    flex: auto;
    position: relative;
    margin: auto;
    font-size: 200%;
}

.results {
    font-size: large;
    text-align: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flexbox;
    flex: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
    text-align: center;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 1rem;
    size: 1rem;
}
