@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font: Poppins, Arial
}

h1 {
    flex: auto;
    position: relative;
    margin: auto;
}

.container {
    width: 100%;
    display: flexbox;
    flex: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
    text-align: center;
}